<!DOCTYPE html>
<html>
<body>
  <ul>
    <li><a href="@routes.HomeController.htmlAttrName("dummy")">HTML Attribute Name</a></li>
    <li><a href="@routes.HomeController.htmlAttrSingleQuotVal("dummy")">HTML Single Quoted Attribute Value</a></li>
    <li><a href="@routes.HomeController.htmlAttrUnquotVal("dummy")">HTML Unquoted Attribute Value</a></li>
    <li><a href="@routes.HomeController.htmlAttrVal("dummy")">HTML Attribute Value</a></li>
    <li><a href="@routes.HomeController.htmlComment("dummy")">HTML Comment</a></li>
    <li><a href="@routes.HomeController.htmlEl("dummy")">HTML Element Context</a></li>
    <li><a href="@routes.HomeController.htmlHref("dummy")">HTML HREF/SRC</a></li>
    <li><a href="@routes.HomeController.htmlHrefParam("dummy")">HTML HREF/SRC Parameter</a></li>
    <li><a href="@routes.HomeController.htmlTagName("dummy")">HTML Tag Name</a></li>
    <li><a href="@routes.HomeController.jsQuotedVal("dummy")">JS Quoted Value</a></li>
    <li><a href="@routes.HomeController.jsSingleQuotVal("dummy")">JS Single Quoted Value</a></li>
    <li><a href="@routes.HomeController.jsUnquotedVal("dummy")">JS Unquoted Value</a></li>
    <li><a href="@routes.HomeController.jsFuncArg("dummy")">JS Function Argument</a></li>
    <li><a href="@routes.HomeController.styleContext("dummy")">Style Context</a></li>
    <li><a href="@routes.HomeController.stylePropValue("dummy")">Style Property Value</a></li>
    <li><a href="@routes.HomeController.styleSelPropVal("dummy")">Style Selector Property Value</a></li>
    <li><a href="@routes.HomeController.styleSingleQuotPropValue("dummy")">Style Single Quote Property Value</a></li>
    <li><a href="@routes.HomeController.styleUnquotSelPropVal("dummy")">Style Unquote Selector Property Value</a></li>
  </ul>
</body>
</html>